In [1]:
import pandas as pd
import numpy as np
import os
import geopandas as gp

In [2]:
import matplotlib.pyplot as plt

%matplotlib inline

## Load data from LL84 and Pluto

In [3]:
pwd = os.getcwd()
os.listdir(pwd)

['water_use_rh',
 'red_hook_store_ll84.csv',
 'nyct2010_18b',
 'Zero Carbon City Summer School - Server Introduction.docx',
 '.DS_Store',
 'nycd_18b',
 'combinesewer_RH',
 'drive-download-20180528T154801Z-001 (1).zip',
 'bk_mappluto_17v1_1',
 'sewer_RH',
 'test.csv',
 'water_use_bk',
 'lot_ann_elec_use_bk',
 'coned_shape',
 'nyct2010_18b.zip',
 'Microgrid_BuildingConsumption_PVGeneration.ipynb',
 'Water_Intensity_Building_Level_Projection.ipynb',
 'Student_list (2).docx',
 'subsewer_RH',
 'LL84_2017.csv',
 '.ipynb_checkpoints',
 'nynta_18b',
 'SimStadt_PLUTO_Tabelle.csv',
 'water_use_bh',
 'support_elec_bh',
 'Census_Tract_Aggregation.7z']

In [4]:
os.listdir(pwd + '/' + 'bk_mappluto_17v1_1')

['BK_Dcp_Mappinglot.shx',
 'BKMapPLUTO.sbn',
 'PLUTODD17V1.1.pdf',
 'BK_Dcp_Mappinglot.sbx',
 'BK_Dcp_Mappinglot.shp',
 'BKMapPLUTO.prj',
 'BK_Dcp_Mappinglot.dbf',
 'bk_pluto.dbf',
 'BKMapPLUTO.shp.xml',
 'BKMapPLUTO.LandUse.atx',
 'BKMapPLUTO.CD.atx',
 'BKMapPLUTO.sbx',
 'BK_Dcp_Mappinglot.sbn',
 'BKMapPLUTO.shx',
 'BK_Dcp_Mappinglot.prj',
 'BKMapPLUTO.shp',
 'BKMapPLUTO.dbf',
 'BK_Dcp_Mappinglot.shp.xml',
 'BKMapPLUTO.ZoneDist1.atx',
 'BKMapPLUTO.BBL.atx',
 'bk_pluto.dbf.xml']

In [5]:
# load the local law 84 data from 2017
df = pd.read_csv('LL84_2017.csv')
df.head(3)

,Order,Property Id,Property Name,Parent Property Id,Parent Property Name,BBL - 10 digits,"NYC Borough, Block and Lot (BBL) self-reported",NYC Building Identification Number (BIN),Address 1 (self-reported),Address 2,...,Source EUI (kBtu/ft²),Release Date,Water Required?,DOF Benchmarking Submission Status,Latitude,Longitude,Community Board,Council District,Census Tract,NTA
0,16,5871253,Cadman - 10 Clinton St,2637863,Cadman Towers,3002380035,3002380035,3319420,101 Clark St,aka 10 Clinton St,...,352.2,04/28/2017 04:07:55 PM,NaN,In Compliance,40.695835,-73.991673,2.0,33.0,502.0,Brooklyn Heights-Cobble Hill ...
1,158,2785179,"LIU, Stores, Office",3618185,1 hoyt st,3001570009,3001570009,3332518,450 Fulton St,Not Available,...,286.4,05/01/2017 04:43:42 PM,NaN,In Compliance,40.690419,-73.985190,2.0,33.0,37.0,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hi...
2,179,5100178,892 Atlantic Avenue,4037976,"CubeSmart - 900 Atlantic Avenue, Brooklyn",3011220028,3-01122-0028,3027473,892 Atlantic Avenue,Not Available,...,Not Available,05/23/2017 09:51:20 AM,NaN,In Compliance,40.681258,-73.965143,8.0,35.0,203.0,Prospect Heights ...

In [6]:
# load the PLUTO dataset for Brooklyn
gdf = gp.GeoDataFrame.from_file(pwd + '/' + 'bk_mappluto_17v1_1/BKMapPLUTO.shp')
gdf.head(3)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,APPBBL,APPDate,PLUTOMapID,FIRM07_FLA,PFIRM15_FL,Version,MAPPLUTO_F,SHAPE_Leng,SHAPE_Area,geometry
0,BK,6714,55,314,534,3000,21,44,11230,L156,...,0.0,,1,,,17V1.1,0,270.323044,3421.921447,"POLYGON ((994429.5163999945 166222.5835999995,..."
1,BK,716,58,307,2,1006,15,38,11232,E228,...,0.0,,1,,,17V1.1,0,309.607937,5416.046240,"POLYGON ((980623.0189999938 177734.9689999968,..."
2,BK,7724,11,317,780,2000,22,45,11210,L157,...,0.0,,1,,,17V1.1,0,263.464473,3104.985249,"POLYGON ((1001572.969400004 169875.4115999937,..."

In [7]:
# drop the unnecessary columns in LL84 
df_water = df.drop(['Order', 'Property Id', 'Property Name', 'Parent Property Id',
       'Parent Property Name', 
       'NYC Borough, Block and Lot (BBL) self-reported',
       'NYC Building Identification Number (BIN)', 'Address 1 (self-reported)',
       'Address 2', 'Postal Code', 'Street Number', 'Street Name', 'Borough',
       'List of All Property Use Types at Property',
       'Largest Property Use Type - Gross Floor Area (ft²)',
       '2nd Largest Property Use Type',
       '2nd Largest Property Use - Gross Floor Area (ft²)',
       '3rd Largest Property Use Type',
       '3rd Largest Property Use Type - Gross Floor Area (ft²)', 'Year Built',
       'Number of Buildings - Self-reported', 'Occupancy',
       'Metered Areas (Energy)', 'Metered Areas  (Water)', 'ENERGY STAR Score',
       'Site EUI (kBtu/ft²)', 'Weather Normalized Site EUI (kBtu/ft²)',
       'Weather Normalized Site Electricity Intensity (kWh/ft²)',
       'Weather Normalized Site Natural Gas Intensity (therms/ft²)',
       'Weather Normalized Source EUI (kBtu/ft²)', 'Fuel Oil #1 Use (kBtu)',
       'Fuel Oil #2 Use (kBtu)', 'Fuel Oil #4 Use (kBtu)',
       'Fuel Oil #5 & 6 Use (kBtu)', 'Diesel #2 Use (kBtu)',
       'District Steam Use (kBtu)', 'Natural Gas Use (kBtu)',
       'Weather Normalized Site Natural Gas Use (therms)',
       'Electricity Use - Grid Purchase (kBtu)',
       'Weather Normalized Site Electricity (kWh)',
       'Total GHG Emissions (Metric Tons CO2e)',
       'Direct GHG Emissions (Metric Tons CO2e)',
       'Indirect GHG Emissions (Metric Tons CO2e)',
       'Property GFA - Self-Reported (ft²)',
       'Source EUI (kBtu/ft²)', 'Release Date', 'Water Required?',
       'DOF Benchmarking Submission Status', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'NTA'], axis=1)

df_water.head(3)

,BBL - 10 digits,DOF Gross Floor Area,Primary Property Type - Self Selected,Largest Property Use Type,Water Use (All Water Sources) (kgal),Water Intensity (All Water Sources) (gal/ft²),Census Tract
0,3002380035,212656,Multifamily Housing,Multifamily Housing,Not Available,Not Available,502.0
1,3001570009,70734,Residence Hall/Dormitory,Residence Hall/Dormitory,1460.7,20.29,37.0
2,3011220028,55884,Self-Storage Facility,Self-Storage Facility,Not Available,Not Available,203.0

In [8]:
# rename columns for the ll84 
df_water.rename(columns={'Water Use (All Water Sources) (kgal)': 'Water_Use_KGAL',
                        'Largest Property Use Type': 'Larg_Prop_UType',
                        'Water Intensity (All Water Sources) (gal/ft²)': 'Water_Inten_gal_sqft'}, 
                inplace=True)

In [ ]:
df_water.

In [9]:
def clean_ll84(df, key):
    
    '''
    Clean the LL84 dataset by log transforming the dataset and removing any values 
    that is outliers in the dataset and return 
    '''
    
    std = df[key].std()
    mean = df[key].mean()
    
    df['Outliers'] = abs(df[key] - mean) > 2 * std
        
    df = df[df.Outliers == False]
    
    return df

In [10]:
df_water['Water_Inten_gal_sqft'] = pd.to_numeric(df_water['Water_Inten_gal_sqft'], errors='coerce')

In [11]:
df_water = clean_ll84(df_water, 'Water_Inten_gal_sqft')

In [12]:
df_water.shape

(2260, 8)

In [20]:
# what is the distribution for water use and water intenity for lo
df_water.describe()

,BBL - 10 digits,DOF Gross Floor Area,Water_Inten_gal_sqft,Census Tract
count,2.260000e+03,2.260000e+03,1523.000000,2231.000000
mean,3.044963e+09,1.225304e+05,59.729783,7201.324966
std,2.544739e+07,1.486628e+05,82.296771,19128.702239
min,3.000010e+09,5.005900e+04,0.000000,1.000000
25%,3.019589e+09,6.220275e+04,33.205000,240.000000
50%,3.051010e+09,8.000000e+04,50.150000,501.000000
75%,3.066528e+09,1.214660e+05,70.645000,772.000000
max,3.088330e+09,2.548000e+06,1867.580000,117602.000000

In [15]:
# drop the unnecessary columns in pluto dataset

gdf_water = gdf.drop(['Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
        'Council', 'ZipCode', 'FireComp', 'PolicePrct', 'HealthCent',
       'HealthArea', 'SanitBoro', 'SanitDistr', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
    'LandUse', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_FLA', 'PFIRM15_FL', 'Version', 'MAPPLUTO_F', 'SHAPE_Leng',
       'SHAPE_Area'], axis=1)

gdf_water.head(3)

,Borough,BldgClass,BldgArea,BBL,geometry
0,BK,C3,2112,3.067140e+09,"POLYGON ((994429.5163999945 166222.5835999995,..."
1,BK,F5,5000,3.007160e+09,"POLYGON ((980623.0189999938 177734.9689999968,..."
2,BK,B1,2184,3.077240e+09,"POLYGON ((1001572.969400004 169875.4115999937,..."

## Calculate the

In [16]:
gdf_water['BldgArea'] = pd.to_numeric(gdf_water['BldgArea'], errors='coerce')

In [17]:
gdf_water = gdf_water[np.isfinite(gdf_water['BldgArea'])]

In [18]:
gdf_water['AreaRatio'] =  gdf_water['BldgArea'] / gdf_water['BldgArea'].sum()

In [19]:
gdf_water.head(3)

,Borough,BldgClass,BldgArea,BBL,geometry,AreaRatio
0,BK,C3,2112,3.067140e+09,"POLYGON ((994429.5163999945 166222.5835999995,...",0.000001
1,BK,F5,5000,3.007160e+09,"POLYGON ((980623.0189999938 177734.9689999968,...",0.000003
2,BK,B1,2184,3.077240e+09,"POLYGON ((1001572.969400004 169875.4115999937,...",0.000002

## Merging LL84 and Pluto

In [21]:
# convert the BBL to integers for merging the dataframe
gdf_water.BBL = gdf_water.BBL.apply(lambda x: int(x))

In [22]:
# merge the pluto dataset with the LL84 dataset
gdf_water = pd.merge(gdf_water, df_water, left_on='BBL', right_on='BBL - 10 digits', how='left')

gdf_water.head(3)

,Borough,BldgClass,BldgArea,BBL,geometry,AreaRatio,BBL - 10 digits,DOF Gross Floor Area,Primary Property Type - Self Selected,Larg_Prop_UType,Water_Use_KGAL,Water_Inten_gal_sqft,Census Tract,Outliers
0,BK,C3,2112,3067140055,"POLYGON ((994429.5163999945 166222.5835999995,...",0.000001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BK,F5,5000,3007160058,"POLYGON ((980623.0189999938 177734.9689999968,...",0.000003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BK,B1,2184,3077240011,"POLYGON ((1001572.969400004 169875.4115999937,...",0.000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
gdf_water['Larg_Prop_UType'].unique()

array([nan, 'Multifamily Housing', 'Non-Refrigerated Warehouse', 'Other',
       'Office', 'Medical Office', 'Distribution Center', 'Courthouse',
       'Other - Services', 'Manufacturing/Industrial Plant',
       'Self-Storage Facility', 'Hospital (General Medical & Surgical)',
       'Retail Store', 'K-12 School', 'Worship Facility',
       'Other - Entertainment/Public Assembly', 'Senior Care Community',
       'Residence Hall/Dormitory', 'Other - Education', 'Hotel',
       'College/University', 'Social/Meeting Hall',
       'Supermarket/Grocery Store',
       'Outpatient Rehabilitation/Physical Therapy', 'Parking',
       'Refrigerated Warehouse', 'Enclosed Mall', 'Other - Mall',
       'Other - Lodging/Residential', 'Adult Education',
       'Other - Technology/Science', 'Wholesale Club/Supercenter',
       'Other - Public Services'], dtype=object)

In [24]:
# drop the duplicates by keeping only the last observation with same BBL

gdf_water = gdf_water.drop_duplicates(['BBL'], keep='last')

## Get a sense of the water intensity gal sqft distribution

In [25]:
# To get the descriptive statistics on the water intensity use profile 
# convert all the variables into numeric values
s = pd.to_numeric(gdf_water['Water_Inten_gal_sqft'], errors='coerce')

In [26]:
# multifamily water intensity gal sqft distribution

gdf_water['Water_Inten_gal_sqft'][gdf_water['Larg_Prop_UType'] == 'Multifamily Housing'].describe()

count    1274.000000
mean       63.524717
std        77.100258
min         0.000000
25%        38.632500
50%        53.200000
75%        73.677500
max      1867.580000
Name: Water_Inten_gal_sqft, dtype: float64

In [27]:
# everything else water intensity gal sqft distribution

gdf_water['Water_Inten_gal_sqft'][gdf_water['Larg_Prop_UType'] != 'Multifamily Housing'].describe()

count     231.000000
mean       41.554113
std       106.203628
min         0.000000
25%         2.580000
50%        11.660000
75%        45.600000
max      1055.170000
Name: Water_Inten_gal_sqft, dtype: float64

In [28]:
# find out the distribution for the entire .
# Use 50% percentile as the center for the distribution seems a reasonable thing to do
s.describe()

count    1505.000000
mean       60.152485
std        82.577710
min         0.000000
25%        33.700000
50%        50.410000
75%        70.790000
max      1867.580000
Name: Water_Inten_gal_sqft, dtype: float64

In [29]:
# assign 53.2 to multi-family, as the water intensity gal per sqft 
# assign 11.6 to everything, as the water intensity gal per sqft 


gdf_water['Water_Inten_gal_sqft'][gdf_water['Water_Inten_gal_sqft'].isnull() & (gdf_water['Larg_Prop_UType'] == 'Multifamily Housing')] = 53.2

gdf_water['Water_Inten_gal_sqft'][gdf_water['Water_Inten_gal_sqft'].isnull() & (gdf_water['Larg_Prop_UType'] != 'Multifamily Housing')] = 11.6

/Users/tedu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [ ]:
gdf_water.head(5)

In [ ]:
gdf_water[gdf_water['BldgArea'] == 0].shape

In [ ]:
gdf_water[gdf_water['BldgArea'] != 0].shape

In [ ]:
gdf_water.shape

In [ ]:
gdf_water[gdf_water['BldgArea'] == 0].shape[0] / gdf_water.shape[0]

In [ ]:
gdf_water['Water_Use_KGAL'] = gdf_water['Water_Inten_gal_sqft'] * gdf_water['BldgArea'] / 1000.

## Electric consumption can be supported by the natural gas production

In [ ]:
gdf_elc = gdf_water

In [ ]:
tot_bldgarea = gdf_water['BldgArea'].sum()

In [ ]:
gdf_elc['Electricity_Consumption_MW'] = 1310876 / tot_bldgarea * gdf_water['BldgArea']

In [ ]:
6980197000 / 1000000

In [ ]:
gdf_elc.head(3)

In [ ]:
gdf_elc = gdf_elc.sort_values('Electricity_Consumption_MW')

In [ ]:
gdf_elc.head(3)

In [ ]:
gdf_elc['Powered'] = pd.Series()

In [ ]:
gdf_elc['Powered'].iloc[0] = 1

In [ ]:
gdf_elc.to_file('lot_ann_elec_use_bk/lot_ann_elec_use_bk.shp')

In [4]:
gdf_elc_bh = gp.GeoDataFrame.from_file('lot_ann_elec_use_bk/bh/lot_ann_elec_use_bh.shp')

In [5]:
gdf_elc_bh.head()

,Borough,BldgClass,BldgArea,BBL,BBL - 10 d,DOF Gross,Primary Pr,Larg_Prop_,Water_Use_,Water_Inte,Census Tra,Outliers,Electricit,Powered,geometry
0,BK,Q0,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,0.0,POLYGON ((-73.99628992609465 40.69852007310919...
1,BK,V0,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,0.0,POLYGON ((-73.98326303147435 40.70265273034596...
2,BK,G7,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,0.0,POLYGON ((-74.00906205843512 40.67418068904544...
3,BK,V1,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,0.0,"POLYGON ((-73.9775559613815 40.68700283299119,..."
4,BK,Q0,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,0.0,"POLYGON ((-74.00489775171354 40.6845388343907,..."

In [6]:
# calculating how many lot can be supported bythe excess electricity power
# generated from the waste water treatment plant in Red Hook

total_exc = 6980.197

for i in range(gdf_elc_bh.shape[0]):    
    
    total_exc = total_exc - gdf_elc_bh['Electricit'].iloc[i]
    
    if total_exc > 0:
        gdf_elc_bh['Powered'].iloc[i] = 1
    else:
        gdf_elc_bh['Powered'].iloc[i] = 0

/Users/tedu/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [7]:
gdf_elc_bh.to_file('support_elec_bh/support_elec_bh.shp')

In [8]:
gdf_elc_bh[gdf_elc_bh['Powered'] == 1].shape

(4431, 15)

In [9]:
gdf_elc_bh.shape

(11410, 15)

In [10]:
gdf_elc_bh[gdf_elc_bh['BldgArea'] == 0]

,Borough,BldgClass,BldgArea,BBL,BBL - 10 d,DOF Gross,Primary Pr,Larg_Prop_,Water_Use_,Water_Inte,Census Tra,Outliers,Electricit,Powered,geometry
0,BK,Q0,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-73.99628992609465 40.69852007310919...
1,BK,V0,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-73.98326303147435 40.70265273034596...
2,BK,G7,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-74.00906205843512 40.67418068904544...
3,BK,V1,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,"POLYGON ((-73.9775559613815 40.68700283299119,..."
4,BK,Q0,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,"POLYGON ((-74.00489775171354 40.6845388343907,..."
5,BK,V1,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-73.98454517843435 40.69709851853624...
6,BK,V0,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-74.01025588108369 40.67799567115667...
7,BK,Z0,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-74.00125105646508 40.68504269731739...
8,BK,Q0,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-73.99988851405428 40.69671693438962...
9,BK,U7,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-73.99829036863585 40.69597783604617...
10,BK,G7,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-74.00348921336327 40.67672083353032...
11,BK,V0,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-74.00078164657525 40.68333101621143...
12,BK,G7,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-74.01205095844881 40.67940859007107...
13,BK,Z9,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-74.00976792254323 40.68014688046532...
14,BK,V1,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-74.00623626610948 40.68521170198516...
15,BK,Q1,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-73.97685533514498 40.68716790471424...
16,BK,V1,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-74.00276627705009 40.66917867055471...
17,BK,G7,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-73.99479641532788 40.70258126347611...
18,BK,,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-73.98435151439661 40.67586850797515...
19,BK,Z0,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,"POLYGON ((-73.9965089616142 40.67819610231922,..."
20,BK,Q9,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-73.97722444724509 40.68709395628155...
21,BK,V1,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,"POLYGON ((-73.979454477724 40.68881911521644, ..."
22,BK,V0,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,"POLYGON ((-73.97904441807303 40.680266121716, ..."
23,BK,V1,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-74.01498838095868 40.67756870689108...
24,BK,Q1,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-73.99779346545787 40.67556189522907...
25,BK,Z9,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-73.97454450801014 40.68510284812073...
26,BK,V1,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,"POLYGON ((-73.99421722518528 40.6868276569975,..."
27,BK,G7,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,"POLYGON ((-74.0037843822076 40.67753660731326,..."
28,BK,V1,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-74.01772082774461 40.68062985813844...
29,BK,V1,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-74.01052873484348 40.67434389531276...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
848,BK,V9,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-74.00595360354856 40.68377827421315...
849,BK,V1,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-73.98829992219585 40.67509877588518...
850,BK,G7,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-73.98356864852036 40.68448521791711...
851,BK,V0,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-73.99064501177092 40.68429339534087...
852,BK,V1,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-73.98391511433302 40.69115670024632...
853,BK,G7,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,"POLYGON ((-74.00427274542922 40.6861791039404,..."
854,BK,V1,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-73.98491905861763 40.67694479500359...
855,BK,G7,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-73.99712465669094 40.67713621884013...
856,BK,Z0,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-73.99571725905994 40.69657280503942...
857,BK,V0,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-73.97908035624641 40.67980046319749...
858,BK,V1,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-74.00589725774466 40.68511503089174...
859,BK,V1,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-73.98149845551006 40.68434234847216...
860,BK,Q2,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,"POLYGON ((-74.00877586087617 40.6726291994831,..."
861,BK,V3,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,"POLYGON ((-74.00157585713613 40.6862945126971,..."
862,BK,V1,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-74.00488892876967 40.67929628623683...
863,BK,V9,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-74.00690005573414 40.68615822537506...
864,BK,G6,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-73.98342695226914 40.68784221522522...
865,BK,V0,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-74.01249778559739 40.67552378460385...
866,BK,G7,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,"POLYGON ((-73.996729595329 40.69243604596731, ..."
867,BK,Z9,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-74.00432792236582 40.67871696825745...
868,BK,V1,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,"POLYGON ((-74.0032176414299 40.68307352413473,..."
869,BK,Z9,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,"POLYGON ((-74.00525558409267 40.6775150217064,..."
870,BK,V1,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-74.01685997183496 40.67540206657397...
871,BK,V1,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,"POLYGON ((-74.0034450930881 40.68248704425484,..."
872,BK,V1,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,"POLYGON ((-73.992017520511 40.69532287616389, ..."
873,BK,V0,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-74.01084876678394 40.67735067833242...
874,BK,Z9,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-73.98354891718688 40.67832631443201...
875,BK,V1,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-74.01547922463519 40.67608583028408...
876,BK,Q1,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,"POLYGON ((-73.98890532667167 40.6988600387288,..."
877,BK,V1,0,2147483647,0.0,0.0,,,,11.6,0.0,,0.0,1.0,POLYGON ((-73.98666479051242 40.70466818855463...

In [ ]:
gdf_water.head(3)

In [ ]:
gdf_water.to_file('water_use_bk/water_use_bk.shp')

In [ ]:
gdf_water_short.to_file('water_use_bk/water_use_bk.shp')

In [ ]:
# the water use is zero for 
gdf_water_short[gdf_water_short['Water_Use_kgal'] == 0.].shape

In [ ]:
gdf_water_short.shape

In [ ]:
gdf_water_short[gdf_water_short['BldgArea'] != 0.].shape

In [ ]:
gdf_water_short[gdf_water_short['BldgArea'] == 0.].shape

In [ ]:
# the bulding area is zero for the record
gdf_water_short[gdf_water_short['BldgArea'] != 0.].shape

In [ ]:
ax = gdf_water[gdf_water['BldgArea'] != 0.].plot(column='Water_Use_KGAL', cmap='Blues', figsize=(15,15), k=9, legend=True)

In [ ]:
gdf_coned = gp.GeoDataFrame.from_file('coned_shape/coned_shape.shp')

gdf_coned.head(3)

In [ ]:
gdf_bh = gp.sjoin(gdf_coned, gdf_water, op='within')

gdf_bh.head(3)